# build
/build/bin
node_modules
/frontend/dist
/wows-fast-stats.zip

# created directories by app
/config/
/screenshot/
/temp_arena_info/
/cache/
/persistent_data/

# created files by app
/wows-fast-stats.log

# credential
/discord_webhook_*

# test
/test_install_dir/replays/tempArenaInfo.json
/frontend/coverage

# other
.DS_Store
