body {
  margin: 0;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

.btn {
  white-space: nowrap;
  text-align: center;
}

.table td {
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  vertical-align: middle;
}

.table th {
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}

.td-string {
  text-align: left;
  max-width: 180px;
}

.td-number {
  text-align: right;
}

.td-multiple {
  text-align: center;
}

.td-graph {
  min-width: 5em;
  max-width: 5em;
}

.td-checkbox {
  padding: 1px;
  width: 1em;
  height: 1em;
}

.td-icon {
  width: 1em;
}

.no_data {
  max-width: 0px;
  text-align: center;
}

.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nation-icon {
  width: 1.5em;
  display: flex;
  align-items: center;
}

.ship-icon {
  width: 1.25em;
  display: flex;
  align-items: center;
}

.alert-player {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-form {
  min-width: 480px;
}
