html {
  background-color: #212529;
  color: #f2f2f2;
}

body {
  margin: 0;
  color: #f2f2f2;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #212529;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
}

.btn {
  white-space: nowrap;
  text-align: center;
}

.table-text-color {
  color: #f2f2f2;
}

.table td {
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  vertical-align: middle;
}

.table th {
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}

.bad {
  background-color: #a41200;
}

.below-average {
  background-color: #a34a02;
}

.average {
  background-color: #a38204;
}

.good {
  background-color: #518517;
}

.very-good {
  background-color: #2f6f41;
}

.great {
  background-color: #04436d;
}

.unicum {
  background-color: #232166;
}

.super-unicum {
  background-color: #531460;
}

.td-link {
  color: #f2f2f2;
}

.td-string {
  text-align: left;
  max-width: 160px;
}

.td-number {
  text-align: right;
}

.td-graph {
  min-width: 160px;
}

.no_data {
  max-width: 0px;
  text-align: center;
}

.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}

.ship-icon-scale {
  height: 1.5em;
  width: 1.5em;
}

.horizontal {
  display: flex;
  align-items: center;
}

.form-style {
  width: 75%;
  max-width: 600px;
  margin: auto;
}

.higher {
  color: #99d02b;
}

.lower {
  color: #fc4e32;
}

.form-style {
  text-align: left;
}

.centerize {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.help {
  width: 75%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.help-table {
  table-layout: fixed;
}

.appinfo {
  text-align: center;
}
